:root {
    --navbar: #eee2d3;
    --navbar-text-color-footer: #534f49;
    --navbar-brand: #c6ae98;
    --container-bg: #fefefe;
    --border: rgb(200, 200, 200);
  }

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/leaves-pattern.png");
   }

.navbar {
    background-color: var(--navbar) !important;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand {
    padding: 6px 40px;
    background-color: var(--navbar-brand);
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    transition: transform 0.5s ease-in-out;
}

.navbar-brand:hover {
    animation: fa-flip 1s;
    cursor: pointer;
}

.nav-link:hover,
.footer-link:hover {
    animation: fa-fade 1s infinite;
}

.info-nav {
    background-color: var(--container-bg);
    text-align: center;
    font-size: small;
}

.quote {
    color: var(--navbar-text-color-footer);
}

.quote:hover {
    animation: fa-fade 1s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2 {
    font-size: x-large;
}

h3 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.parent-container {
    margin: 100px;
}

.container {
    padding: 10px 0px;
    background-color: var(--container-bg);
    border: solid var(--border) 1px;
    border-radius: 5px;
}

.avatar {
    border: dotted gray 1px;
    border-radius: 100px;
    margin: 30px;
    float: left;

}

.wrapper {
    margin: 100px auto;
}

.card-extra {
    text-align: center;
    padding-top: 10px;
}

.portfolio-img-wrapper {
    padding: 10px;
    overflow: auto;
}

.project-img {
    border: solid var(--border) 1px;
    border-radius: 5px;
    height: 200px;
}

.icon-links {
    color: black;
    padding: 0px 10px;
}

.icon-links:hover {
    animation: fa-beat-fade 1s infinite;
  }

footer {
    padding: 15px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 65px;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    background-color: var(--navbar-text-color-footer);
    text-align: center;
    color: white;
  }

.footer-end {
    font-size: xx-small;
    color: black;
    padding-top: 10px;
}

.contact-info {
    margin-top: 10px;
}

.connect {
    color: white;
    padding: 5px;
}

.connect:hover {
    animation: fa-fade 1s infinite;
  }
  
  @keyframes fa-beat-fade {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }