:root {
    --navbar: #e4d8dd;
    --container-bg: #f8f9fa;
    --navbar-text-color-footer: #272831;

    --border: rgb(200, 200, 200);
}

body {
    font-family: 'Rubik', sans-serif;
    background: var(--container-bg);
    color: var(--navbar-text-color-footer);
}

.navbar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #c8dadf);
    color: var(--navbar-text-color-footer);
}

.quote-nav {
    background-color: rgb(230, 230, 230);
    color: black;
    text-align: center;
    font-size: small;
}

.navbar-brand {
    padding: 0px 40px;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: var(--navbar-text-color-footer);
}

.quote,
.toggle {
    margin: 0px 10px;
}

.quote:hover,
.toggle:hover {
    animation: fa-fade 1s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--navbar-text-color-footer);
}

a:hover {
    animation: fa-fade 1s;
}

section {
    margin: 50px;
    /* background-color: red; */
}

.avatar {
    margin: 30px;
    float: left;
}

.img-wrapper {
    padding: 10px;
    overflow: auto;
}

.project-img {
    height: 200px;
}

.card {
    color: black;
}

.icon-links {
    padding: 0px 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--navbar-text-color-footer);
    text-align: center;
  }

.contact-info {
    margin-top: 20px;
}

.connect {
    color: white; /* change to white var */
    padding: 20px 5px;
}

.icon-links:hover,
.connect:hover {
    animation: fa-beat-fade 1s infinite;
}
  
@keyframes fa-beat-fade {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* My Framework */

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.border {
    border: solid var(--border) 1px;
    border-radius: 5px;
}

/* Darke Mode */

body.dark-mode {
    background-color: rgb(62, 63, 74);
    color: white;
}